In [1]:
# import dependancies
from sqlalchemy import create_engine, Column, Integer, String, Float, Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from dateutil import parser
import pandas as pd

In [2]:
# declare constants
BASE = declarative_base()
ENGINE = create_engine('sqlite:///hawaii.sqlite')
SESSION = Session(ENGINE)

In [3]:
# define functions

In [4]:
# define classes
class station(BASE):
    __tablename__ = "stations"
    station = Column(String, primary_key = True)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
class measurement(BASE):
    __tablename__ = "measurements"
    id = Column(Integer, primary_key = True)
    station = Column(String)
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)

In [5]:
BASE.metadata.create_all(ENGINE)

In [6]:
dump = []
with open("hawaii_stations.csv", "r") as inbox:
    for each in pd.read_csv(inbox).to_dict(orient = "records"):
        dump.append(station(station = each["station"],
                            name = each["name"],
                            latitude = each["latitude"],
                            longitude = each["longitude"],
                            elevation = each["elevation"]
                           ))
SESSION.add_all(dump)
SESSION.commit()

In [7]:
pd.read_sql_query("select * from stations", ENGINE)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [8]:
dump = []
with open("clean_hawaii_measurements.csv", "r") as inbox:
    for each in pd.read_csv(inbox).to_dict(orient = "records"):
        dump.append(measurement(
                id = each["id"],
                station = each["station"],
                date = parser.parse(each["date"]),
                prcp = each["prcp"],
                tobs = each["tobs"]
        ))
SESSION.add_all(dump)
SESSION.commit()

In [9]:
pd.read_sql_query("select * from measurements", ENGINE).head()

   id      station        date  prcp  tobs
0   0  USC00519397  2010-01-01  0.08    65
1   1  USC00519397  2010-01-02  0.00    63
2   2  USC00519397  2010-01-03  0.00    74
3   3  USC00519397  2010-01-04  0.00    76
4   4  USC00519397  2010-01-06  0.00    73